<% content_for :title, "Editing comment" %>

<h1><%= content_for(:title) %></h1>
<%= link_to "â† Back to post", post_path(@comment.post), class: 'hlink' %>

<%= render "comments/metadata", comment: @comment, class: "absolute top-4" %>

<br>

<%= render "form", comment: @comment %>
