<div id="posts">
  <% if posts.any? %>
    <table class="w-[calc(100%+2rem)] -mx-4 -mb-0">
      <tbody>
        <% posts.each do |post| %>
          <tr class="*:px-4 *:py-2">
            <td>
              <% cache post do %>
                <%= render post %>
              <% end %>
            </td>
            <td>
              <% if post.user == Current.user %>
                <div class="flex justify-end gap-2">
                  <%= link_to "→ Edit", edit_post_path(post), class: "button sm" %>
                  <%= button_to "× Delete", post, method: :delete, class: "dangerous sm" %>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="flex items-center justify-center gap-2">
      <span class="">
        <% if local_assigns[:message] %>
          <%= local_assigns[:message] %>
        <% else %>
          No posts yet… Want to be the first?
        <% end %>
      </span>
    </div>
  <% end %>
</div>
