<% content_for :title, "Editing post" %>

<h1><%= content_for(:title) %></h1>
<%= link_to "← Back to posts", posts_path, class: 'hlink' %>

<%= render "form", post: @post %>

<div class="inline-block -ml-[0.15rem]">
  <%= link_to "← Discard changes", @post, class: "button ghost" %>
</div>